<!doctype html>
<!-- 
Aimee Sullivan (sullivai)
CS290-400 HW Week 9
28 May 2016
Template layout for exercise tracker.
-->
<html>
<head>
	<meta charset="UTF-8">
	<title>Workout Tracker</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Workout Tracker</h1>

	{{{body}}} 
	
	<table>
		<thead>
			<tr>
				<th>Exercise</th>
				<th>Reps</th>
				<th>Weight</th>
				<th>Date</th>
				<th>Units</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody id="list">
			
		</tbody>
	</table>





<script src="/javascript/script.js"></script>
</body>
</html>